.title {
	text-align: center;
}

.form {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin: 2em auto;
	padding: 2em 1.5em;
	gap: 2em;
	border: 1px solid rgb(219, 219, 219);
	box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.041);
}

.inputGroup {
	position: relative;
}

.inputGroup label {
	position: absolute;
	font-size: 1rem;
	z-index: 1;
	left: 1em;
	top: 1.1em;
	transition: 100ms all;
	pointer-events: none;
	color: rgb(219, 219, 219);
}

.input {
	box-sizing: border-box;
	font-family: inherit;
	width: 100%;
	height: 100%;
	padding: 1em;
	font-size: 1rem;
	border: none;
	outline: none;
	border: 1px solid rgb(219, 219, 219);
	border-radius: 7px;
}

.input:focus {
	border-color: var(--clr-lgt-blue);
}

.valid .input:focus {
	border-color: #53b953;
}

.invalid .input {
	border-color: rgb(255, 74, 74);
}

.input:not(:placeholder-shown) ~ label,
.input:focus ~ label {
	background-color: white;
	border-radius: 3px;
	padding: 0.2em 0.3em;
	font-size: 0.7rem;
	top: -0.8em;
}

.input:focus ~ label {
	color: var(--clr-lgt-blue);
}

.invalid .input:not(:placeholder-shown) ~ label {
	color: rgb(255, 74, 74);
}

.valid .input:not(:placeholder-shown):focus ~ label {
	color: rgb(83, 185, 83);
}

.check {
	position: absolute;
	width: 1.2rem;
	height: 100%;
	right: 1rem;
}

.warning {
	position: absolute;
	color: rgb(255, 74, 74);
	font-size: 0.7rem;
	top: 4.1em;
	right: 0;
}

.buttonContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
}

.loginButton,
.registerButton {
	font-family: inherit;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	padding: 1em;
	border-radius: 2em;
	align-self: center;
	cursor: pointer;
}

.loginButton {
	color: white;
	background-color: var(--clr-lgt-blue);
	border: none;
}

.registerButton {
	width: 100%;
	color: var(--clr-lgt-blue);
	background-color: white;
	border: 1px solid var(--clr-lgt-blue);
}

.loginButton:disabled {
	cursor: not-allowed;
}

.loginButton:not(:disabled):hover {
	background-color: var(--clr-drk-blue);
}

.registerButton:not(:disabled):hover {
	color: var(--clr-drk-blue);
	border: 1px solid var(--clr-drk-blue);
}
