.title-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	display: inline-block;
	margin: 0;
}

.button {
	font-family: inherit;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	color: white;
	background-color: var(--clr-lgt-blue);
	padding: 1em 2em;
	border: none;
	border-radius: 2em;
}

.button:hover {
	cursor: pointer;
	background: var(--clr-drk-blue);
}
