.post {
	background: var(--clr-lgt-grey);
	padding: 1em;
}

.image {
	max-width: 80%;
}

.meta {
	display: flex;
	flex-direction: column;
	color: var(--clr-darkest-grey);
	gap: 0.3em;
}

.author {
	font-style: italic;
}
