.wrapper {
	background: var(--clr-lgt-grey);
	padding: 1em 1em 1em 2em;
	border-left: 15px solid var(--clr-drk-grey);
	margin-top: 1em;
}

.wrapper:hover {
	background: rgb(227, 237, 255);
	border-color: var(--clr-lgt-blue);
}

.author {
	font-style: italic;
}
