:root {
	--clr-lgt-blue: rgb(76, 139, 245);
	--clr-drk-blue: rgb(41, 115, 243);
	--clr-lgt-red: rgb(255, 201, 201);
	--clr-drk-red: rgb(255, 77, 77);
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
